src/schema/akep-exercises.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:element name="exercise" type="exerciseType">
        <xs:unique name="uniqueScriptChannelName">
            <xs:selector xpath="script"/>
            <xs:field xpath="@name"/>
        </xs:unique>
        <xs:unique name="uniqueTaskIdentifier">
            <xs:selector xpath=".//task"/>
            <xs:field xpath="@n"/>
        </xs:unique>
    </xs:element>

    <xs:complexType name="exerciseKeysType">
        <xs:sequence>
            <xs:element name="Key" type="keyType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:attributeGroup name="refernceAttrGroup">
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="reference" type="xs:string"/>
        <xs:attribute name="reference-id" type="xs:string"/>
        <xs:attribute name="refChildrenFind" type="xs:string"/>
        <xs:attribute name="refPlaceholder" type="xs:string"/>
    </xs:attributeGroup>

    <xs:complexType name="exerciseType">
        <xs:sequence>
            <xs:element name="script" type="scriptType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="exerciseKeys" type="exerciseKeysType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="scoreSpecial" type="scoreSpecialType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="info" type="infoType" maxOccurs="1" minOccurs="0"/>
            <xs:any minOccurs="0" namespace="##any" processContents="skip"/>
            <xs:element name="task" type="taskType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="refernceAttrGroup"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>

    <xs:complexType name="scoreSpecialType">
        <xs:sequence>
            <xs:element name="scoreAttr" type="scoreAttrType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="scoreCondition" type="scoreConditionType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="scoreResult" type="scoreResultType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="refernceAttrGroup"/>
    </xs:complexType>

    <xs:complexType name="scriptType">
        <xs:sequence>
            <xs:element name="inputstream" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="path" type="xs:string"/>
        <xs:attribute name="arguments" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="fromChannel" type="xs:string"/>
        <xs:attribute name="entry" type="scriptEntryType" default="main"/>
        <xs:attribute name="inputType" type="inputTypeType"/>
        <xs:attribute name="outputType" type="outputTypeType"/>
        <xs:attribute name="inputTo" type="xs:string"/>
        <xs:attribute name="noConAfterError" type="xs:string"/>
        <xs:attribute name="taskErrorHandle" type="xs:string"/>
        <xs:attribute name="continueCondStream" type="continueCondStreamType"/>
        <xs:attributeGroup ref="refernceAttrGroup"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>

    <xs:complexType name="keyType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="key" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="solutionType" mixed="true">
        <xs:sequence>
            <xs:element name="dependency" type="dependencyType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="solution" type="solutionType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="scoreSpecial" type="scoreSpecialType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="score" type="xs:decimal"/>
        <xs:attribute name="type" type="scoreType"/>
        <xs:attribute name="evaluateMode" type="evaluateModeType"/>
        <xs:attribute name="negation" type="xs:string"/>
        <xs:attribute name="channelName" type="xs:string"/>
        <xs:attribute name="opererator" type="operatorType"/>
        <xs:attribute name="errorCheck" type="xs:string"/>
        <xs:attribute name="evaluateArgs" type="xs:string"/>
        <xs:attribute name="xpath" type="xs:string"/>
        <xs:attributeGroup ref="refernceAttrGroup"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>

    <xs:complexType name="taskType">
        <xs:sequence>
            <xs:any minOccurs="0" namespace="##any" processContents="skip"/>
            <xs:element name="output" type="chOutputType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="dependency" type="dependencyType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="tasktext" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="description" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="task" type="taskType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="inputstream" type="inputstreamType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="scoreSpecial" type="scoreSpecialType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="solution" type="solutionType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="n" type="xs:string" use="required"/>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="comment" type="xs:string"/>
        <xs:attributeGroup ref="refernceAttrGroup"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>

    <xs:complexType name="infoType">
        <xs:sequence>
            <xs:element name="text" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="position" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="head"/>
                                        <xs:enumeration value="tail"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="common" default="false">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="true"/>
                                        <xs:enumeration value="false"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="inputstreamType">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="skip"/>
        </xs:sequence>
        <xs:attribute name="channelName" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="chOutputType">
        <xs:attribute name="channelName" type="xs:string" use="required"/>
        <xs:attribute name="style" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="dependencyType">
        <xs:attribute name="minScore" type="xs:string"/>
        <xs:attribute name="n" type="xs:string"/>
        <xs:attribute name="reference-id" type="xs:string"/>
    </xs:complexType>

    <xs:simpleType name="scoreType">
        <xs:restriction base="xs:string">
            <xs:pattern value="bonus|minus"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="continueCondStreamType">
        <xs:restriction base="xs:string">
            <xs:pattern value="stderr|stdout"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="scriptEntryType">
        <xs:restriction base="xs:string">
            <xs:pattern value="main|pre|post|con"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="inputTypeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="inline|external|channelOutput"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="outputTypeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="xml|html"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="evaluateModeType">
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="containAnd|containOr|regexpToInput|fromLog|ColumnsEqualParam|rowNumEq|rowNumGrEq|rowNumLtEq|cellData|makeEvaluateWithReference"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="operatorType">
        <xs:restriction base="xs:string">
            <xs:pattern value="and|or|xor"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="scoreAttrType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="xpath" type="xs:string" use="required"/>
        <xs:attribute name="attrName" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="scoreConditionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="scoreResultType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="scoreType"/>
                <xs:attribute name="addTo" type="xs:string"/>
                <xs:attribute name="id" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
