src/schema/akep-XMLChannel.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="tasks" type="taskType">
	<xs:unique name="uniqueTaskIdentifier">
			<xs:selector xpath=".//task" /> 
			<xs:field xpath="@n" /> 
	</xs:unique>
</xs:element>

<xs:complexType name="taskType" mixed="true">
	<xs:sequence>
		<xs:element name="task" type="taskType" maxOccurs="unbounded" minOccurs="0"/>
	</xs:sequence>
	<xs:attribute name="n" type="xs:string"/>
</xs:complexType>

</xs:schema>